################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eWolfSiteBuilder/v17
/eWolfSiteBuilder/bin/Debug/net5.0-windows/ref
/eWolfSiteBuilder/obj
/.vs/eWolfSiteBuilder/DesignTimeBuild
/eWolfSiteBuilder/bin/Debug/net5.0-windows
