################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eWolfSiteBuilder/v17
/eWolfSiteBuilder/bin/Debug/net5.0-windows/ref
/eWolfSiteBuilder/obj
/.vs/eWolfSiteBuilder/DesignTimeBuild
/eWolfSiteBuilder/bin/Debug/net5.0-windows
/.vs/eWolfSiteBuilder/config
/.vs
/eWolfSiteBuilder/bin/Debug/net7.0-windows
/eWolfAudioSiteBuilder/bin/Debug/net8.0-windows8.0
/eWolfAudioSiteBuilder/obj
/eWolfSiteBuilder/bin/Debug/net8.0-windows8.0
/Tools/TextConverter/obj
/Tools/TextConverter/bin/Debug/net8.0
